body {
  background-color: var(--bs-gray-900);
  color: var(--bs-gray-500);
}

a {
  color: #6ea8fe;
}

a:hover {
  color: #8bb9fe;
}

.border-top, .border-bottom {
  border-color: var(--bs-dark-text-emphasis) !important;
}

.jumbotron {
  background-color: var(--bs-secondary-text-emphasis);
}

.navbar {
  background-color: var(--bs-primary-text-emphasis);
}

.card {
  background-color: var(--bs-gray-900);
  border-color: var(--bs-dark-text-emphasis);
  color: var(--bs-gray-500);
}

.card-header {
  background-color: var(--bs-secondary-text-emphasis);
  border-color: var(--bs-dark-text-emphasis);
}
